<table>
	<tbody>
		<tr><th>Name</th><td><%= @user.u_name %></td></tr>
		<tr><th>UserName</th><td><%= @user.u_user_name %></td></tr>
		<tr><th>Gender</th><td><%= @user.u_gender %></td></tr>
		<tr><th>HomeTown</th><td><%= @user.u_hometown %></td></tr>
		<tr><th>Location</th><td><%= @user.u_location %></td></tr>
		<tr><th>Bio</th><td><%= @user.u_bio %></td></tr>
	</tobdy>
</table>

<%= link_to 'Back', users_path %>
